QUEUE_NAME="odoo-events"
RABBITMQ_DEFAULT_USER=fopkobcf
RABBITMQ_DEFAULT_PASS=2GpXOpv0XnLmoze2G52C0S_9xl3GseAd
RABBITMQ_HOST=amqps://fopkobcf:2GpXOpv0XnLmoze2G52C0S_9xl3GseAd@gorilla.lmq.cloudamqp.com/fopkobcf
RABBITMQ_PORT=5672
